$primary: #000000;
$background: #ffffff;
$background-secondary:#ffffff;
$text-base:#999999;
$dark: #0f8ca8;
$white: #ffffff;
$gold:#F69038;
$blue:#90e3f5;
$green:#0FA861;
$mindaro:#D4FA96;



$text: (
  "header-title":$primary,
  "header-links":$primary,
  "post-detail-title":$white,
  "post-detail-body":$white,
  "post-detail-author":$primary,
  "notfound-page-texts":$primary,
  "login-text":$primary,
  "feedback":$primary
  );
  
  $layout: (
  "gold":$gold,
  "text-base":$text-base,
  "previous-workout": $mindaro,
  "input-border": $green,
  "button-border": $dark,
  "button-color-login": $blue,
  "button-icon": $primary,
  "button-background": $primary,
  "header-background":$background-secondary,
  "header-shadow":$background-secondary,
  "sidebar-background":$white,
  "base-page-background":$background,
  "feedback-background":$background-secondary,
);
