@use "../../styles/sass/variables/colors";
@use "../../styles/sass/variables/fontSizes";
@use "sass:map";


.base-page {
  padding: 20px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../../public/undraw_workout_gcgu.svg");
  background-repeat: no-repeat;
  
}
