.text-image {
  padding:14px;
}

.plan-workout {
    display: flex;
    flex-direction: row;
    max-height: 300px;
  }
  
  .image-reward {
      height: 100%;
      width: 100%;
      max-height: 100%;
      max-width: 100%;
      padding: 30px;
      min-width: 40%;
      min-height: 40%;
  }
  
  .card-plan {
    background-color: #f3ecd8; 
    border-radius: 8px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    
  
    &__previous-plan {
      border-radius: 8px;
      box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
      background-color: white;
      filter:opacity(40%);
      z-index: 1; 
      transform: translate(120px)
    }
  
    &__current-plan {
      border-radius: 8px;
      box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
      background-color: white; 
      filter:brightness(120%);
      z-index: 2;
    }
    
    &__next-plan {
      border-radius: 8px;
      box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
      background-color: white; 
      filter:opacity(40%);
      z-index: 1; 
      transform: translate(-120px)
    }

    
  
    border: 1px solid #b5a886;
  
    color: #2e2e2e;
    font-family: 'Times New Roman', serif; 
  }
  

  .button-card {
    border: 2px solid transparent; 
    border-radius: 8px;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    
    &__main{
      border: 2px solid #0FA861; 
      border-radius: 8px;
      max-width: 100%;
      max-height: 100%;
      height: auto;
      width: auto;
      box-sizing: border-box; 
    }
    
  }
 
  

  